@keyframes FadeIn {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes SlideInRight {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes RulesTextComing {
  from {
    opacity: 0;
    transform: translateX(30px);
  }

  33% {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes RulesItemMarkerComing {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes RulesItemCounterComing {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@mixin animation-FadeIn {
  animation-name: FadeIn;
  animation-duration: 0.35s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@mixin animation-SlideInRight {
  animation-name: SlideInRight;
  animation-duration: 0.35s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@mixin animation-RulesTextComing {
  animation-name: RulesTextComing;
  animation-duration: 500ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@mixin animation-RulesItemMarkerComing {
  animation-name: RulesItemMarkerComing;
  animation-duration: 500ms;
  animation-timing-function: easing('bubble');
  animation-fill-mode: forwards;
}

@mixin animation-RulesItemCounterComing {
  animation-name: RulesItemCounterComing;
  animation-duration: 500ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

$easing-funcs: (
  custom: (0.48, 0.19, 0, 1),
  bubble: (0.4, 2, 1, 1),
);

@function easing($type) {
  $fn-value: map-get($easing-funcs, unquote($type));
  @return cubic-bezier($fn-value);
}